# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environnements
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers temporaires
*.log
*.tmp

# Vidéos (trop lourdes pour git, hébergées sur YouTube)
*.mp4
*.mov
*.avi